.App {
  padding: 25px 15px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.App-h1 {
  text-align: center;
}

.App-list-container {
  margin-top: 10px;
  border: 1px solid #d9d9d9;
  border-radius: 2px;
  padding-left: 11px;
}

.App .App-list-item-meta {
  position: relative;
  z-index: 1;
  display: block;
}

.App .App-list-edit-input {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 0;
  visibility: hidden;
  padding: 15px 30px 15px 0;
  height: 100%;
}

.App-list-btn-delete {
  opacity: 0;
}

.App-list-item {
  position: relative;
}
.App-list-item:hover .App-list-btn-delete {
  opacity: 1;
}



.create-field {
  display: flex;
}
.create-field label {
  flex-grow: 1;
}
.create-field button {
  height: auto;
}







@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
