.App {
  padding: 25px 15px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.App-h1 {
  text-align: center;
}

.App-container {
  margin: 10px auto 0;
  max-width: 1200px;
}

.App-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.App-list-item {
  margin: 10px;
  border: 1px solid #d9d9d9;
  border-radius: 2px;
  padding: 0 10px;
  width: calc(50% - 20px);
}

.App-search-wr {
  margin: 10px;
  display: flex;
  align-items: center;
}

.App-search-wr label {
  width: 100%;
}

.App-sort-btn-wr {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 0 10px;
}

.App-sort-btn:last-child,
.App-sort-btn:nth-child(2) {
  margin-left: 15px;
}



.create-field {
  display: flex;
}
.create-field label {
  flex-grow: 1;
}
.create-field button {
  height: auto;
}







@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
